body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.password{
    position: relative;
    display: flex;
    align-items: center;
}
input{
    width: 30rem;
    height: 4em;
    padding: 1em;
    border: 2px solid #ccc;
    border-radius: none;
    font-size: 1rem;
    letter-spacing: 1px;
    box-sizing: border-box;
}
input:focus{
    outline: none;
    border-color: #007bff;
}
input::placeholder{
    color: #000;
    font-weight: bold;
}
span{
    position: absolute;
    right: 20px;
    cursor: pointer;
    user-select: none;
    top: 50%;
    transform: translateY(-50%);
}